set default="0"
set timeout="0"

menuentry "GameJay OS" {
	search --no-floppy --label --set=root GAMEJAY
	linux /boot/bzImage root=LABEL=GAMEJAY rootwait ro quiet loglevel=3 vt.global_cursor_default=0
}
